/* Basic page style */
body {
    font-family: Times, seriff;
    margin: 0;
    background-color: #FA86C4;
}

/* Header */
.header {
    background-color: #ff1694;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

.subtitle {
    margin-top: 5px;
}

/* Navigation bar */
.nav {
    background-color: #Fc46aa;
    padding: 10px;
    text-align: center;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 8px;
}

.nav a:hover {
    background-color: #555;
}

/* Main layout container */
.container {
    display: flex;
    margin: 20px;
    gap: 20px;
}

/* Main content */
.content {
    background-color: white;
    flex: 4;
    padding: 20px;
    border-radius: 5px;
}

/* Example content boxes */
.example-box {
    background-color: #ffd1dc;
    padding: 15px;
    border-radius: 5px;
    margin-top: 15px;
}

/* Sidebar */
.sidebar {
    background-color: white;
    flex: 3;
    padding: 20px;
    border-radius: 5px;
}

/* Footer */
.footer {
    background-color: #ff1694;
    color: white; /* text colour */
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

/* Responsive layout for phones */
@media (max-width: 700px) {
    .container {
        flex-direction: column;
    }
}
